@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__paragraph {
        margin-left: 16px;
    }
 }
.place__paragraph {
    font-family: 'Inter-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    color: #FFFFFF;
    grid-area: place__paragraph;
}
