@media screen and (min-width: 1280px) {
    .cover__title {
        font-size: 72px;
        margin: 0;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .cover__title {
        font-size: 72px;
        margin: 0;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        margin: 0;
        margin-bottom: 16px;
    }
}

.cover__title {
    max-width: 560px;
    font-family: 'Inter-ExtraBold', sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 1.1;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
    text-decoration: none; 
}
