@media screen and (min-width: 1280px) {
    .place {
        display: block;
        margin-left: 148px;
        margin-bottom: 80px;
        grid-template-columns: 41% minmax(min-content, max-content);
        grid-gap: 48px 40px;
        grid-template-areas: 
        "place__title place__website"
        "place__image place__paragraph";
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        margin-bottom: 80px;
        padding: 0 48px;
        grid-template-columns: 48% minmax(min-content, max-content);
        grid-gap: 48px 32px;
        grid-template-areas: 
        "place__title place__website"
        "place__image place__paragraph";
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        margin-bottom: 73px;
        padding: 0 24px;
        grid-template-columns: 47% minmax(min-content, max-content);
        grid-gap: 48px 28px;
        grid-template-areas: 
        "place__title place__website"
        "place__image place__paragraph";
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place {
        margin-bottom: 50px;
        grid-template-areas: 
        "place__title" 
        "place__website"
        "place__image" 
        "place__paragraph";
    }
}

.place {
    max-width: 100%;
    display: grid;
}

.place:last-child {
    margin-bottom: 0;
}